version: 2.1

jobs:
  build:
    working_directory: ~/project
    docker:
      - image: cimg/python:3.10.1
        environment:
          DATABASE_URL: postgres://postgres@localhost/circle_test
          DJANGO_SECRET_KEY: test

      - image: cimg/postgres:14.2

    steps:
      - checkout
      - run:
          name: Check that cookiecutter generates project.
          command: |
            cd
            pip install --user cookiecutter
            cat \<<-EOF > $HOME/custom.yaml
            default_context:
                project_name: "DJ Starter Demo"
                project_slug: "dj_starter_demo"
                project_description: "Django Starter Demo Project"
                client_name: "Internal Tooling"
                admin_email: "internal-tooling@bitwiseindustries.com"
                staging_client_url: "https://my-react-client.shift3sandbox.com"
            EOF
            cookiecutter --no-input --config-file $HOME/custom.yaml ./project/
      - run:
          name: Install Packages
          command: |
            cd ~/dj_starter_demo
            pip install -r requirements/test.txt
      - run:
          name: Migrate Database
          command: |
            cd ~/dj_starter_demo
            DJANGO_SETTINGS_MODULE=dj_starter_demo.settings.test ./manage.py migrate --noinput
      - run:
          name: Run Tests
          command: |
            cd ~/dj_starter_demo
            pytest
      - add_ssh_keys:
          fingerprints:
            - "b2:25:60:7d:15:00:33:56:49:73:61:06:54:1f:46:64"
      - run:
          name: Update the demo site.
          command: |
            cd ~/dj_starter_demo
            git config --global user.email "internal-tooling@bitwiseindustries.com"
            git config --global user.name "Internal Tooling Automation"
            git init -b $CIRCLE_BRANCH
            git remote add origin git@github.com:Shift3/dj_starter_demo.git
            git add -A .
            git commit -m "Update to $CIRCLE_SHA1"
            git push -f origin $CIRCLE_BRANCH
            

