{% raw %}
{% load i18n %}

{% block subject %}
{% blocktrans %}New agent created{% endblocktrans %}
{% endblock subject %}

{% block text_body %}

{% blocktrans %}
You're receiving this email because you are an administrator and a new
agent has been created.

Created By: {{ created_by }}
Agent: {{ agent }}

{% endblocktrans %}

{% endblock text_body %}

{% block html_body %}
<p>
	You're receiving this email because you are an administrator and a new
	agent has been created.
</p>

<p>Created By: {{ created_by }}</p>
<p>Agent: {{ agent }}</p>

{% endblock html_body %}
{% endraw %}
